<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "{{ url_for('auth.login') }}" method = "post">
        <label for="fname">Email:</label>
        <input type="text" id="email" name = "nm" required/><br>
        <label for="fname">Password:</label>
        <input type="text" id="pass" name = "pass" rquired/><br>
        <button type="submit" name="action" value="submit">Submit</button>
    </form>
</body>
</html>